.container {
    display: flex;
    flex-direction: column;
    margin: 25% auto;
    text-align: center;
}


.button {
    margin: .5rem;
    border: 0;
    background-color: #101010;
    padding: .4rem .8rem;
    border-radius: .3rem;
    transition: .8s;
}

.button:hover {
    cursor: pointer;
    font-size: 1.5rem; 
}